<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Indumentaria</ion-title>
  </ion-toolbar>
   <ion-item>
    <ion-label> </ion-label>
    <img src="https://cdn-icons-png.flaticon.com/512/3394/3394009.png" alt="carrito" class="img-carrito"  >
    <ion-badge color="danger">4</ion-badge>
  </ion-item>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Lista de Productos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list color="primary" role="menu" aria-label="Lista de productos en oferta">
    <ion-list-header role="menuitem">
      <ion-label>Productos en Ofertas</ion-label>
    </ion-list-header>
    @for (product of products; track product._id){
      <ion-card role="menuitem">
        <img [alt]="product.name" [src]="product.image" />
        <ion-card-header>
          <ion-card-title>{{product.name}}</ion-card-title>
          <ion-card-subtitle>{{product.category}}</ion-card-subtitle>
          <p>{{ product.description }}</p>
          <h2 class="precio">${{ product.price }}</h2>
          <ion-button>Agregar al Carrito <img src="https://cdn-icons-png.flaticon.com/512/3394/3394009.png" alt="carrito" class="img-carrito"  ></ion-button>
        </ion-card-header>
        <ion-card-content>
          Somos una empresa dedicada a proveer soluciones técnicas de implementación profesional. Productos diseñados de acuerdo a certificaciones internacionales de seguridad.
        </ion-card-content>
      </ion-card>
    }
  </ion-list>
</ion-content>
<ion-datetime-button datetime="datetime"></ion-datetime-button>

<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime id="datetime"></ion-datetime>
  </ng-template>
</ion-modal>
<ion-footer>
  <ion-toolbar>
    <ion-button [routerLink]="['/main']"> Volver al Inicio </ion-button>
    
  </ion-toolbar>
</ion-footer>
